body {
  margin:0;
  padding:0;
  height:100%;
  background: linear-gradient(to left, rgb(50, 0, 255) 0%, rgb(75, 0, 255) 100%);
}

.searchBox {
  background: linear-gradient(to left, rgb(0, 100, 255) 0%, rgb(0, 100, 255) 100%);
}

.modal_header {
  color: white;
  border-bottom: 1px solid black;
  background: linear-gradient(to left, rgb(0, 100, 255) 0%, rgb(75, 0, 255) 100%);
}

.modal-body {
  font-size: 18px;
  background-color: lightcyan;
}

.modal_footer {
  text-align: center;
  border-top: 1px solid black;
  background: linear-gradient(to left, rgb(25, 0, 255) 0%, rgb(25, 100, 255) 100%);
}

.modal_img {
  margin-top: 50px;
}

.scroll {
  padding: 2em;
  height: 100vh;
  overflow-y: auto;
  border-left: none;
  border-right: none;
  border: 1px solid black;
}

.card {
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.card_img {
  width: 225px;
  height: 165px;
  padding-top: 50px;
}

p {
  color: black;
}

.rejected {
  margin-top: 45px;
  text-align: center;
}

.search_bar {
  width: 250px;
}

.search_bar:focus, .search_bar:hover {
  border: 1px solid aqua;
  box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2 );
}

.not_found {
  color: white;
  font-size: 20px;
  margin-top: 100px;
  text-align: center;
}

.thoughts {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.email {
  font-size: medium;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

#stampContainer .module {
  width: auto;
}

#stampContainer .module#module-01 {
  position: relative;
}

#stampContainer .module#module-01 .redInk {
  width: auto;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/candidate.png');
}

#stampContainer .module#module-01 .redInk img#rejection {
  opacity: 0;
  margin-top: 100px;
}

#stampContainer .module#module-01 .stamp {
  top: -69px;
  left: 214px;
  width: 934px;
  height: 887px;
  opacity: 0;
  z-index: 25;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

.ghosted {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
