.sticky {
  top: 0;
  z-index: 1;
  width: 100%;
  position: fixed;
  background: linear-gradient(to left, rgb(0, 100, 255) 0%, rgb(0, 100, 255) 100%);
}

.main-nav {
  margin: 0;
  width: 100%;
  display: flex;
  font-size: 20px;
  list-style: none;
  justify-content: center;
  border-bottom: 1px solid black;
}

.main-nav > li {
  width: 100px;
  padding: 10px;
  margin-right: 10px;
}

a {
  color: white;
}

.main-nav a:hover, a:focus {
  color: aqua;
  text-decoration-line: underline;
}
