.home {
  min-height: 100%;
  padding-top: 50px;
  position: relative;
  padding-bottom: 60px;
}

.container {
  color: white;
  margin-left: auto;
  padding-left: 15px;
  margin-right: auto;
  padding-right: 15px;
}

.about {
  color: white;
  padding-top: 60px;
  margin-left: auto;
  margin-right:auto;
  border-top: 1px solid black;
}

.lead > p {
  color: white;
  font-size: 2rem;
}

h1 {
  color: white;
  font-size: 3.5rem;
}

h2 {
  color: aqua;
}

a {
  color: yellow;
}

li > a:hover, a:focus {
  color: aqua;
  text-decoration-line: underline;
}

p > a:hover, a:focus {
  color: aqua;
  text-decoration-line: underline;
}

#highlight {
  color: greenyellow;
}

.panel-default .panel-heading {
  background: linear-gradient(to left, rgb(0, 100, 255) 0%, rgb(75, 0, 255) 100%);
}

.panel-body {
  background: linear-gradient(to left, rgb(0, 100, 255) 0%, rgb(75, 0, 255) 100%);
}

.panel-title {
  color: white;
}

div.panel-title a:hover {
  color: green;
}

div.panel-title [aria-expanded="true"] > h3 {
  color: aqua;
}

a, a:hover, a:focus {
  text-decoration: none;
}
